body {
  box-sizing: border-box;
}

/* .navigation {
  margin-left: 25em;
  margin-top: 2em;
} */
/* .icons {
  margin-top: 1em;
  margin-left: 29em;
} */
.image {
  width: 2.2em;
  height: 2em;
  margin: 0.5em;
}
.card-image {
  filter: blur(1px);
  height: 550px;
}
/* .heading {
  width: 50%;
} */
.sub-heading {
  width: 50%;
  margin: 3em 0;
  line-height: 1.8;
}
.btn-add {
  margin-left: 13em;
  margin-top: 3.5em;
}
/* tour Section */
.jumbotron-add {
  padding: 5em 8em;
  background-color: #fff;
}
.tour-image {
  width: 100%;
}

/* .card-detail {
  padding: 3em 2em;
  margin-top: 4em;
  border: none;
} */

/* Detail section */
.card-tour {
  background-color: #000;
  color: #fff;
}
.discover-image {
  background-image: url("images/image-1.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .card-padding {
  padding: 0;
} */
/* Price section */
.price-img {
  width: 100%;
  height: 200px;
}
.package-heading {
  margin-bottom: 2em;
}
.card-header {
  background-color: transparent;
}

/* booking page */
.nostyle {
  list-style: none;
}
/* billing page */
.bottom-line {
  width: 15%;
  height: 2px;
  margin-left: 0;
  background-color: rgb(241, 202, 151);
}
.fieldstyle {
  text-align: center;
  border: 2px groove #eee;
  padding: 1em;
}
.legendstyle {
  width: inherit;
  padding: 0 10px;
}
/* Service Page */
.small-image {
  width: 100%;
  height: 210px;
}
